@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
#home {
    --first-color: #a9a9a900;
    --second-color: #a9a9a900 ;    
    --light-gray: #a9a9a900 ;
}

#divfloyd {
    padding: 5px;
    
   
    border: solid 1px #87cefa;
    width: 493px;
}

#divmaxb {
    padding: 5px;
   
    border: solid 1px #87cefa;
    width: 493px;
}

#next {
    --first-color: tomato;
    --second-color: #000;    
    --light-gray: lightgray;
}
html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}


p {
    margin-top: 5px;
    margin-bottom: 10px;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('communitystaffing.png'); /* Replace with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    display: flex;
    background-size: contain;
}
.wrap {
    left: 280px;
}
#offcanvas-left,
#offcanvas-right {
    flex: 0 0 280px;
    background-color:  rgba(0,0,0,.5);
    color: aliceblue;
    transition-duration: .5s;
}
#offcanvas-left.hide {
    margin-left: -280px;
}
#offcanvas-right.hide {
    margin-right: -280px;
}
.togglebar {
    background-color:rgba(0,0,0,.5);

    flex: 0 0;
    min-width: 50px;
    max-width: 5px;
}
.toggle i {
    height: 80px;
    font-size: 30px;
    width: 100%;
    color: aliceblue;
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
}
.toggle i:hover {
    color: #03e9f4;
}
.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 95%;
}

.center header {
   background-color: rgba(0,0,0,.5);
   color: aliceblue;

}

header nav {
    
    background-color: transparent;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header nav a {
     color: #87cefa;
    text-decoration: none;
    font-size: 18px;
}
.center header nav a:hover {
    text-decoration: underline
}
nav {
    
    background-color: #a9a9a94d;
}
nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
nav ul li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-flex;
    padding: 10px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

.center section {
    flex: 1 1 auto;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: stretch ;
    font-weight: bold;
}

figure.hero {
    position: relative;
    height: 0;
    padding-left: 0;
    padding-bottom: 35%;
    overflow: hidden;
    margin: 0;
}
figure.hero img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    transform: scale(1.03);
}
figure.hero figcaption{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    left: 0;
    top: 50%;
    color: #00BDFE;
    
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 20px 0;
}
figure.hero figcaption * {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #00BDFE;
    margin: 0;
    padding: 0;
}
#offcanvas-left ul,
#offcanvas-right ul {
    padding: 0
}
#offcanvas-left ul li,
#offcanvas-right ul li {
    color: #A9A9A9;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    padding: 10px; 
    border-bottom: 1px solid #222
    
}
#offcanvas-left a,
#offcanvas-right a {
    color: aliceblue;
    text-decoration: none;
}

#offcanvas-left li:hover a,
#offcanvas-right li:hover a {
    color: #03e9f4;
}


footer {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-column-gap: 10px;
    background-color:rgba(0,0,0,.5);
    
    color: aliceblue;
    flex: 0 0 10px;
    flex-direction: row;
    padding: 10px 0px;
   height: fit-content;
}
footer section:first-child {
    grid-column: 2;
}
.no-style li {
    list-style-type: none;
}

.no-style ul {
    margin-top: 0;
    padding: 0;
}

.no-style b {
    margin-bottom: 0;
    padding: 0;
}
.no-style address {
    font-style: normal;
}
form {
    /* width: 100%; */
    color: #00BDFE;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: row; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* max-width: 425px; */
    /* width: 100%; */
    /* padding: 20px 20px; */
}

form input, textarea {
    margin: 10px 0;
    border: 0;
    color: #00BDFE;
    border-radius: 5px;
    padding: 10px;
}

form input[type=submit] {
    /* width: 100%; */
    background-color: var(--first-color);
}

form textarea {
    min-height: 60px;
    max-height: 100px;
    resize: vertical;
}

main {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    background-size: cover;

    min-height: 500px;
}
article {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-column-gap: 20px;
    padding-bottom: 100px;
}

article > * {
    grid-column: 2;
    min-width: 0;
}

article > figure {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

article > aside {
    grid-column: 3;
    color: #101010;
    font-size: 0.8em;
    padding-right: 20px;
}

article > blockquote {
    grid-column: 2 / -2;
    margin: 10px 0;
    color: #101010;
    font-size: 1.2em;
    line-height: 1.4em;
    border-left: 10px solid #00BDFE;
    padding-left: 10px;
    margin-left: -20px;
}


/* Table styles */

table.styled {
    width: 100%;
    border-collapse: collapse;
}
table.styled thead, table.styled th {
    background-color: #00BDFE;
}
table.styled thead, table.styled th {
    text-align: center;
}
table.styled th, table.styled td {
    border: 1px solid #00BDFE;
    padding: 5px;
}
footer table.styled th {
    background: none;
    text-align: left;
}
footer table.styled th, footer table.styled td {
    border: 0;
}



p mark {
    background-color: var(--first-color);
    padding: 0 5px;
    color: #00BDFE;
    font-weight: normal;
}
hr {
    background-color: var(--first-color);
    height: 2px;
    width: 100%;
    border: 0;
}
/* General styling */


img {
    width: 100%;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: aliceblue;
    padding: 2px 5px;
}

pre {
    background: aliceblue;
    padding: 10px 15px;
    overflow: auto;
}

pre > code {
    padding: 0;
}
.responsive-vid {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.responsive-vid iframe,
.responsive-vid video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


#divshow {
    padding: 5px;
    text-align: center;
    background-color: #101010;
    border: solid 1px #03e9f4;
    width: 493px;
}

#showlink {
    padding: 5px;
    text-align: center;
    background-color: #03e9f4;
    border: solid 1px #03e9f4;
    width: 493px;
    display: none
}

#follow {
color: #03e9f4;;
}

.footer1{
    text-align: center;
    display: inline-block;
    padding: 10px;
    height: 20px;
}

.day{
color: aliceblue;
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.136);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.314);
    border-radius: 10px;

}

a { color: #03e9f4;}

.fixfont {

    font-size: larger;

}